/* Customizing body styling */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0ebf5, #c2d6e9);
    color: #333;
    margin: 0;
    padding: 0 0 50px 0; /* Extra padding at the bottom */
    line-height: 1.6;
}

/* Customizing the first header */
h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    margin: 20px auto;  /* Centering magic */
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05); /* Just a touch of shadow */
    border-radius: 5px;
    width: 740px; 
}

/* Letting users know how many games they can still claim */
#claims-remaining {
    text-align: center;
    margin: 20px auto;  
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);  
    border-radius: 5px;
    width: 700px;
    font-size: 1.4em;
    margin-bottom: 30px;
}

/* Customizing the short description */
#description {
    text-align: center;
    margin: 20px auto;
    font-size: 1.2em;
    width: 700px;
    margin-bottom: 20px;
}

/* Customizing the footer */
.footer-content {
    background-color: #2d3d54;
    color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

.footer-content a {
    color: #e5a020; 
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline; /* A touch of classic web */
}

/* Customizing each individual game card */
.game {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding an animation when the user hovers over the card */
}


/* Adding extra space for the last game before the footer */
.game:last-of-type {
    margin-bottom: 40px; 
}

/* Moving the game card up a bit when hovered and adding some shadow */
.game:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

/* Customizing the page buttons */
button {
    display: block;
    background-color: #3498db; /* Nice blue */
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth color transition */
}
/* Makes the button become slightly darker when a user hovers over it */
button:hover {
    background-color: #2980b9; 
}

/* Customizing the bonus badges next to games (Most Popular, Still Going Strong, etc) */
.bonus-badge {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 0.8em;
    margin-left: 10px; /* Distance from the game's main title */
    vertical-align: middle;
}

.game h2 {
    display: inline-block; /* Places bonus-badge and the game title next to each other*/
}
